
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Rendering Dynamic Images Using Flask</title>
</head>
<body>

<style>
    body{
        margin: auto;
        font-family: Arial, Helvetica, sans-serif;
        display: grid;
        grid-auto-rows: auto 1fr auto;
    }
    form{
        margin-top: 15px;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 10px;
    }
    input{
        height: 45px;
        vertical-align: auto;
    }
    .centre{
        margin: auto;
        margin-top: 15px;
    }

</style>

<form class="uploadform" action="{{ url_for('upload_file') }}" enctype="multipart/form-data" method="POST">
    <input class="uploadslot" name="img" type="file"/>
    <input class="button" type="submit"/>
</form>  

<div class="centre">
    <img src="{{ url_for('static', filename=img_path1) }}" alt=" ">
</div>

<table class="centre">
        <tr><td>Hyper<td><td>Norm</td</tr>
        {% for key, value in textOut1.items() %}
            <tr><td>{{ key }}<td><td>{{value}}</td</tr> 
        {% endfor %}
</table>
</body>
</html>
<!--{{ url_for('upload_file') }}-->