/* main.css */
body{
    margin: auto;
    font-family: Arial, Helvetica, sans-serif;
    display: grid;
    grid-auto-rows: auto 1fr auto;
}
form{
    width: 50%;
    margin-top: 15px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
    padding: 10px;
    box-shadow: 6px 6px 10px 1px rgba(49,49,49,0.67);
    border-radius: 10px;
    text-align: center;
    vertical-align: auto;
}
input{
    height: 45px;
    vertical-align: auto;
}
header, footer{
    height: 40px;
    padding: 5px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 2px;
    grid-row-gap: 5px;
}
header{
    margin-bottom: 25px;
}
body{
    height: 75%;
    vertical-align: middle;
    margin-top: 15px;
}
footer{
    margin-top: 25px;
}
table{
    margin-left: auto;
    margin-right: auto;
}
tr{
    text-justify: auto;
    text-align: center;
}
td{
    width: 16%;
    text-align: center;
}
li{
    list-style: none;
    margin: auto;
}
.text{
    margin: auto;
    font-family: Arial, Helvetica, sans-serif;
}
.centre{
    width: 70%;
    height: 25%;
    margin: auto;
    margin-top: 15px;
    margin-bottom: 15px;
    padding: 10px;
    box-shadow: 6px 6px 10px 1px rgba(49,49,49,0.67);
    border-radius: 5px;
}
.centreImg{
    width: 70%;
    display: block;
    margin: auto;
    text-align: center;
    margin-top: 15px;
    padding: 10px;
    box-shadow: 6px 6px 10px 1px rgba(49,49,49,0.67);
    border-radius: 5px;
}

.centreBlock{
    margin-top: 15px;
    margin-bottom: 15px;
}
.table{
    width: 70%;
    margin: auto;
    margin-top: 20px;
    padding: 10px;
    box-shadow: 6px 6px 10px 1px rgba(49,49,49,0.67);
    border-radius: 10px;
}
.uploadform{
    padding: auto;
    vertical-align: middle;
}
.uploadslot {
    height: 45px;
    width: 75%;
    margin-top: 5px;
    border-radius: 5px;
}
.button{
    height: 45px;
    width: 25%;
    margin: 5px;
}